<section class="card">
  <a href="/dashboard/updatepost/{{id}}">
    <header>
      <h1>{{title}}</h1> 
      <h6>{{user.username}}</h6> 
      <h6>{{format_date created_date}}</h6>
    </header>
  </a>
</section>