{{#each blogs as |blog|}}
{{> dashboard-details}}
{{/each}}
<section class="btn-card">
  {{!-- <div class="form-group">
   <button class="btn btn-primary" id="create_btn" type="submit">+ New Post</button>
  </div> --}}
  <a class="btn btn-primary" id="create_btn" href="/dashboard/newpost" role="button">+ New Post</a>
</section>